---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 | Not Found" description="This page does not exists">
  <div class="div flex h-[75vh] w-screen flex-col items-center justify-center gap-2">
    <h1 class="text-5xl font-bold text-fg">
      this is <span class="text-primary">awkward...</span>
    </h1>
    <div class="mt-4 flex items-center justify-center gap-4">
      <h1 class="text-2xl font-light text-fg">nothing is here... (or its under construction)</h1>
      <a href="/" class="cursor-pointer self-start text-2xl font-medium text-primary underline underline-offset-4"
        >go back to safety</a
      >
      <div></div>
    </div>
    <style></style>
  </div>
</Layout>
