---

---

<div class="mx-auto w-full">
  <figure class="rouded-2xl mb-8 mt-4 bg-[#050710] px-8 py-4 text-center">
    <svg
      class="mx-auto mb-3 h-10 w-10 text-gray-600"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 18 14"
    >
      <path
        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
      ></path>
    </svg>
    <blockquote>
      <p class="text-2xl font-medium text-fg">"oh god why this guy"</p>
    </blockquote>
    <figcaption class="mt-6 flex items-center justify-center space-x-3">
      <img class="mb-1 h-6 w-6 rounded-full" src="/hibitt.png" alt="profile picture" />
      <div class="flex items-center divide-x-2 divide-gray-700">
        <a href="https://open.spotify.com/track/4wCmqSrbyCgxEXROQE6vtV?si=16a9459627de4fc7">
          <p class="mb-1 pr-3 font-medium text-primary">hibitt</p>
        </a>
        <p class="mb-1 pl-3 font-mono text-sm text-gray-400">glorious leader of italia</p>
      </div>
    </figcaption>
  </figure>
</div>
